<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CharacterMapper">
    <resultMap type="CharacterEntity" id="CharacterResult">
        <result property="characterNo" column="characterNo"/>
        <result property="userNo" column="userNo"/>
        <result property="nickName" column="nickName"/>
        <result property="hp" column="hp"/>
        <result property="str" column="str"/>
        <result property="mage" column="mage"/>
        <result property="weaponPoint" column="weaponPoint"/>
        <result property="reputation" column="reputation"/>
        <result property="gift" column="gift"/>
        <result property="today" column="today"/>
        <result property="status" column="status"/>
    </resultMap>
    <insert id="insertCharacter">
        INSERT INTO character_TBL(userNo, nickName)
        VALUES (#{userNo}, "운영자운영자");
    </insert>

    <select id="selectCharacter" resultMap="CharacterResult">
        SELECT *
        FROM CHARACTER_TBL
        WHERE userNo =
              #{userNo}
    </select>

    <delete id="deleteCharacter">
        DELETE
        FROM CHARACTER_TBL
        WHERE userNo = #{userNo}
    </delete>
    
    <update id="updateCharacterGift">
        UPDATE CHARACTER_TBL
        SET gift  = #{gift}
          , today = #{today} + 1
        WHERE characterNo = #{characterNo}
    </update>

    <update id="saveBattleResult">
        UPDATE CHARACTER_TBL
        SET hp          = hp + #{hp}
          , str         = str + #{str}
          , mage        = mage + #{mage}
          , weaponPoint = weaponPoint + #{weaponPoint}
          , today       = today + #{today}
          , status      = #{status}
        WHERE characterNo = #{characterNo}
    </update>


    <select id="checkCharacter" resultMap="CharacterResult">
        SELECT *
        FROM CHARACTER_TBL
        WHERE userNo =
              #{userNo}
    </select>

    <update id="updateGift">
        UPDATE CHARACTER_TBL
        SET gift = #{gift}
        WHERE characterNo =
              #{characterNo}
    </update>

    <update id="updateCharacterStat">
        UPDATE CHARACTER_TBL
        SET hp          = #{ hp },
            str         = #{ str },
            mage        = #{ mage },
            weaponPoint = #{ weaponPoint }
        WHERE characterNo =
              #{characterNo}
    </update>

    <update id="updateReputation">
        UPDATE CHARACTER_TBL
        SET reputation = #{reputation}
        WHERE characterNo =
              #{characterNo}
    </update>

    <select id="checkReputation">
        SELECT reputation
        FROM CHARACTER_TBL
        WHERE characterNo =
              #{characterNo}
    </select>

</mapper>