<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>로그인 폼</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/javascript/Scanlogin.js"></script>

</head>
<body>
<div class="login-wrapper">
    <h2>Login</h2>

    <form method="post"  action="/content/login" id="login-form">
        <input type="text" name="userName" id="uid" placeholder="id">
        <input type="password" name="userPassword" id="pw" placeholder="Password">

        <button id="test1" class="btn" type="button" onclick="clickBtn()">로그인하기</button>
    </form>
</div>
</body>
</html>