<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> 회원가입 폼</title>
    <link rel="stylesheet" href="/css/box.css">
</head>
<body>
<form method="post" action="/content/register" id="login-form">

    <div class="login-wrapper">
        <h2> 회원가입</h2>

        <div class="field">
        <b>아이디</b>
        <input type="text" name="id">
    </div>

    <div class="field">
        <b> 비밀번호</b>
        <input class="userpw" type="password" name="password">
    </div>


    <div class="field">
        <b>닉네임</b>
        <input type="text" name="nickname">
    </div>

    <div class="field">
        <b>핸드폰</b>
        <input type="text"  name="phoneumber">
    </div>

    <div class="field">
        <b>이메일</b>
        <input type="email" placeholder="이메일"  name="email">
    </div>

    <input type="submit" value="가입하기">

</div>
</form>


    </body>
    </html>


